---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Hitchin,%20Hertfordshire&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hitchin",
                       "short_name" : "Hitchin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Hertfordshire",
                       "short_name" : "Hertfordshire",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hitchin, Hertfordshire, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.9778983,
                          "lng" : -0.2373602
                       },
                       "southwest" : {
                          "lat" : 51.9351065,
                          "lng" : -0.3151469
                       }
                    },
                    "location" : {
                       "lat" : 51.94921,
                       "lng" : -0.283414
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.9778983,
                          "lng" : -0.2373602
                       },
                       "southwest" : {
                          "lat" : 51.9351065,
                          "lng" : -0.3151469
                       }
                    }
                 },
                 "place_id" : "ChIJ4UGi2SksdkgRAtXnx8OtAM4",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 02 Jul 2015 05:37:44 GMT
recorded_with: VCR 2.9.3
